<div style="height:calc(100vh - 160px)">
    <div class='d-flex align-items-center justify-content-center'>
        <div class="error-template" style='position: absolute; top: 50%; transform: translate(0, -50%);'>
            <h1>
                Oops!</h1>
            <h2>
                Server Error 500</h2>
            <div class="error-details">
                Sorry, an error has occured. We apoligise and are fixing the problem.
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary  mt-2"><i class='bx bxs-home'></i>
                    Take Me Home </a>
                    <a href="/contact-us" class="btn btn-success  mt-2"><i class='bx bxs-phone' ></i> Contact Support </a>
            </div>
        </div>      
    </div>
</div>

<script>window.onload=function(){window.jQuery||window.location.reload()};</script>
