<div style="height:calc(100vh - 160px)">
    <div class='d-flex align-items-center justify-content-center'>
        <div class="error-template" style='position: absolute; top: 50%; transform: translate(0, -50%);'>
            <h1>
                Oops!</h1>
            <h2>
                Session Expired</h2>           
            <div class="error-details">
                Your session has expired. You will have to login to continue using this application. Click the button below to login.
            </div>
            <div class="error-actions">
                <a href="javascript: void(0)" onclick="reloadPage()" class="btn btn-danger  mt-2"><i class='bx bxs-lock-alt'></i>
                    Go to login </a>                   
            </div>
        </div>      
    </div>
</div>
